#ECLIPSE
.classpath
.project
.settings/
.springBeans

#INTELLIJ
.idea/
*.iml
*.iws

#GENERATED
target/
bin/
git.properties
rebel.xml
*.log

*__pycache__

#MAVEN
.mvn/
mvnw
mvnw.cmd

#OSX
*.DS_Store
.AppleDouble
.LSOverride
._*
/.metadata/
/.recommenders/
